# PySpark-SQL

In [1]:
from pyspark.sql import SparkSession

# 1 Starting Point: SparkSession
spark = SparkSession.builder.appName("asheesh").getOrCreate()

22/03/24 13:34:28 WARN Utils: Your hostname, a-Lenovo-Legion-Y530-15ICH resolves to a loopback address: 127.0.1.1; using 192.168.1.12 instead (on interface wlp7s0)
22/03/24 13:34:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/24 13:34:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/24 13:34:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/24 13:34:29 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/24 13:34:29 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
# 2. Creating DataFrames
# read Json data files
df = spark.read.json("/media/a/StudioSpaceByMe/workspace/toko/src/spark_training/*.json")

# to print few rows of dataframe
df.show()

+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 30|   Andy|
| 19| Justin|
| 20|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+

In [3]:
# read CSV data files
df = spark.read.csv("/media/a/StudioSpaceByMe/workspace/toko/src/spark_training/people*.csv",header=True)

In [4]:
# 3. Dataset Operations
# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [14]:
# Select only the "name" column
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
|   Andy|
| Justin|
|     a1|
|     a2|
+-------+

In [15]:
# Select everybody, but increment the age by 1
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|       31|
|   Andy|       31|
| Justin|       20|
|   Andy|       21|
| Justin|       51|
|     a1|       51|
|     a2|       51|
+-------+---------+

In [16]:
# Select people older than 21 using filter
df.filter(df['age'] > 21).show()

+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 30|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+

In [17]:
# Select people older than 21 using where 
df.select("*").where("age>20").show()

+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 30|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+

In [18]:
# Count people by name
df.groupBy("name").count().show()

+-------+-----+
|   name|count|
+-------+-----+
|Michael|    1|
|     a2|    1|
|     a1|    1|
|   Andy|    2|
| Justin|    2|
+-------+-----+

In [19]:
# Sum people age by name
df.groupBy("name").sum("age").show()

+-------+--------+
|   name|sum(age)|
+-------+--------+
|Michael|      30|
|     a2|      50|
|     a1|      50|
|   Andy|      50|
| Justin|      69|
+-------+--------+

In [20]:
# print top 20 rows sorted by age
df.orderBy("age").show(20)

+---+-------+
|age|   name|
+---+-------+
| 19| Justin|
| 20|   Andy|
| 30|Michael|
| 30|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+

In [21]:
# find distinct name
df.select("name").distinct().show()

+-------+
|   name|
+-------+
|Michael|
|     a2|
|     a1|
|   Andy|
| Justin|
+-------+

In [22]:
# Save Processed Data
df.write.mode("overwrite").csv("/home/a/abs",header=True)

In [5]:
# Running SQL Queries
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [6]:
# print all the fields
sqlDF=spark.sql("SELECT * FROM people")
sqlDF.show()

+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 30|   Andy|
| 19| Justin|
| 20|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+

In [7]:
# print name  field only
spark.sql("SELECT name FROM people").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
|   Andy|
| Justin|
|     a1|
|     a2|
+-------+

In [8]:
# filter all the rows , having age >20
spark.sql("SELECT * FROM people where age >20").show()

+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 30|   Andy|
| 50| Justin|
| 50|     a1|
| 50|     a2|
+---+-------+